.vermelho{
    animation-name:trocar;
    animation-duration:10s;
    animation-iteration-count: infinite;  
}

@keyframes  trocar{
    0%{
        background-color: red;
        color:black;
    }
    50%{
        background-color: purple;
        color:black;
    }
    100%{
        background-color: blue;
        color:black;
    }
}